.household-form {
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 400px;
	height: 100%;
	padding: 2em 0em;
	background-color: #ffffff6b;
	border-radius: 10px;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
}

.household-form-content {
	margin: 1em auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.household-default-columns {
	margin: 1.5em auto 0;
	width: 80%;
}

.household-col {
	width: 100%;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.join-existing-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.household-inputfield {
	margin: 0.5em 0em;
	padding: 0.5em 1em;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
}

.room-btn-container {
	background: white;
	display: flex;
	width: 100%;
	margin: 0.5em 0em;
	align-items: center;
	justify-content: space-between;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.room-btn {
	padding: 0.2em 0.5em;
	font-size: 15px;
	margin: 0.2em 1em;
	border: none;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.room-btn:hover {
	transform: scale(1.1);
	background: #5bc94f77;
}

.householdform-btn,
.check-household-btn {
	width: 50%;
	margin: 1.5em 0em;
	border: 1.5px solid white;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1.2px;
	background-color: #add09c;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.householdform-btn:hover,
.check-household-btn:hover {
	background-color: #7c966f;
	transform: scale(1.05);
}

.household-confirm-btn-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
}

.household-confirm-btn {
	width: 30%;
	margin: 1em 0;
	border: 1.5px solid white;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1.2px;
	background-color: #add09c;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.household-confirm-btn:hover {
	transform: scale(1.1);
	letter-spacing: 1.2px;
	font-weight: bold;
}

.yes-btn {
	background-color: var(--btn-green-dark);
	color: white;
}

.yes-btn:hover {
	background-color: var(--btn-green-dark-hover);
}

.no-btn {
	background-color: #c94f4f;
	color: white;
}

.feedback-message {
	text-align: center;
	padding: 1em 1em;
}

.check-household-inputfield {
	width: 70%;
	font-size: 14px;
	padding: 1em 1em;
}

.check-household-msg {
	text-align: center;
	padding: 0 1em;
}

.toggle-join-create {
	font-size: 16px;
}
