.household-form {
	background: #9dce9d;
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 400px;
	height: 100%;
	padding: 1em 0em;
	border-radius: 12px;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
}
.household-form-content {
	margin: 1em auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.household-default-columns {
	margin: 1em auto 0;
	width: 80%;
}

.household-col {
	width: 100%;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.join-existing-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.household-inputfield {
	margin: 0.5em 0em;
	padding: 1em 1.5em;
	border: none;
	border-radius: 12px;
	background-color: #f9f7f7;
	box-shadow: 0px 12px 16px 0 rgb(82 106 82 / 86%);
	font-size: 14px;
}

#household-name {
	box-shadow: inset 3px 3px 5px 0 rgb(0 0 0 / 30%);
}

.room-btn-container {
    background: white;
    display: flex;
    width: 90%;
    margin: 0.7em auto;
    align-items: center;
    justify-content: space-evenly;
	box-shadow: 0px 12px 16px 0 rgb(82 106 82 / 86%);
    border-radius: 12px;
    padding: 0.2em 0;
}

.room-btn {
	padding: 0.2em 0.5em;
	font-size: 15px;
	margin: 0.2em 2em;
	border: none;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	width: 25%;
}

.room-btn:hover {
	transform: scale(1.1);
	background: #5bc94f77;
}

.current-room-selection {
	display: flex;
	justify-content: center;
	width: 30%;
}

.householdform-btn,
.check-household-btn {
	padding: 1em 0em;
	width: 45%;
	border-radius: 12px;
	margin: 0em 0em 2em;
	font-size: 15px;
	background: linear-gradient(348deg, #9fc7ff, #fcfdfc);
	box-shadow: 0px 12px 16px 0 rgb(82 106 82 / 86%);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.householdform-btn:hover,
.check-household-btn:hover {
	background-color: #7c966f;
	transform: scale(1.05);
}

.household-confirm-btn-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
}

.household-confirm-btn {
	width: 30%;
	margin: 1em 0;
	border: 1.5px solid white;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1.2px;
	background-color: #add09c;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.household-confirm-btn:hover {
	transform: scale(1.1);
	letter-spacing: 1.2px;
	font-weight: bold;
}

.yes-btn {
	background-color: var(--btn-green-dark);
	color: white;
}

.yes-btn:hover {
	background-color: var(--btn-green-dark-hover);
}

.no-btn {
	background-color: #c94f4f;
	color: white;
}

.feedback-message {
	text-align: center;
	padding: 1em 1em;
}

.check-household-inputfield {
	width: 70%;
	font-size: 14px;
	padding: 1em 1em;
}

.check-household-msg {
	text-align: center;
	padding: 0 1em;
}

.toggle-join-create {
	text-align: center;
	font-size: 17px;
	margin: auto;
	width: 80%;
	max-width: 400px;
}

@media screen and (max-width: 450px) {
	.householdform-btn {
		width: 60%;
		margin: 0.5em auto 1em;
	}
}
