.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	overflow: hidden;
}

.modal {
	background-color: #ffffffc7;
	padding: 10px;
	border-radius: 24px;
	max-width: 500px;
	width: 90%;
	box-shadow: inset 0px 15px 20px #ffffff;
	z-index: 1001;
}

.modal-msg {
	font-family: "DM Sans";
	font-size: 18px;
	font-weight: 500;
	margin: 1em auto;
}

.close-modal-btn-container {
	width: 100%;
	text-align: end;
}

.close-modal-btn {
	display: flex;
	font-family: "DM Sans";
	background-color: #f44336;
	color: white;
	border: none;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	border-radius: 5px;
	width: 40px;
}
