header {
	padding: 0;
	margin: 0;
	width: 100%;
}

.header-content {
	position: relative;
	width: 95vw;
	margin: 0 auto;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.logo-burger-row {
	height: 100%;
	width: 90%;
	display: flex;
	margin: 2em auto 0 auto;
	align-items: center;
	justify-content: space-between;
}

.row-section {
	width: 50%;
	display: contents;
}

.logo-wrapper {
	width: 60px;
	padding: 0;
	transition: all 0.3s ease-in-out;
}

.logo-wrapper:hover {
	rotate: -15deg;
	transform: scale(1.1);
}

.logo,
.menu-icon {
	object-fit: contain;
}

.menu-icon-wrapper {
	width: 60px;
	background: none;
	border: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.menu-icon-wrapper:hover {
	transform: scale(1.1);
}

.nav-wrapper {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 10;
	opacity: 0;
	background-color: var(--bg-green);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.open {
	opacity: 1;
	max-height: 210px;
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.navlist {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.5em 2em;
}

.nav-item {
	border-left: 2px solid rgba(255, 255, 255, 0.438);
}

nav a {
	color: black;
	font-size: 1.2em;
	display: block;
	height: 100%;
	padding: 0.5em 0em;
}

.nav-item a {
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	text-indent: 2em;
	letter-spacing: 2.2px;
}

.nav-item a:hover {
	background-color: rgba(255, 255, 255, 0.178);
	text-indent: 1em;
	transition: text-indent 0.3s ease-in-out;
	padding-right: 1em;
}

.logout-col {
	display: flex;
	justify-content: flex-end;
}

.logout-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.logout-content:hover {
	transform: scale(1.1);
	text-decoration: underline;
}

.logout-img-container {
	width: 40px;
	border: none;
}

.nav-logout-item {
	width: 100%;
}

.logout-btn {
	font-size: 16px;
	letter-spacing: 1.5px;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
}
