header {
	padding: 0;
	margin: 0;
	width: 100%;
}

.header-content {
	position: relative;
	margin: 0 auto;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 6px 1px #b9c6c3cc;
}

.logo-burger-row {
	height: 100%;
	width: 90%;
	display: flex;
	margin: 0.5em auto;
	align-items: center;
	justify-content: space-between;
}

.row-section {
	width: 50%;
	display: contents;
}

.logo-wrapper {
	width: 40px;
	padding: 0;
	transition: var(--smooth-transition);
}

.logo-wrapper:hover {
	rotate: -15deg;
	transform: scale(1.1);
}

.logo,
.menu-icon {
	object-fit: contain;
}

.menu-icon-wrapper {
	width: 40px;
	padding: 0;
	background: none;
	border: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.menu-icon-wrapper:hover {
	transform: scale(1.1);
}

.nav-wrapper {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 10;
	opacity: 0;
	background-color: var(--navbar-green-gradient);
	max-height: 0;
	overflow: hidden;
	transition:
		max-height 0.5s ease-in-out,
		opacity 0.5s ease-in-out;
}

.greenpage .nav-wrapper {
	background: var(--navbar-green-gradient);
}

.bluepage .nav-wrapper {
	background-color: var(--bg-blue);
}

.yellowpage .nav-wrapper {
	background-color: var(--bg-green);
}

.open {
	opacity: 1;
	max-height: 210px;
	transition:
		max-height 0.5s ease-in-out,
		opacity 0.5s ease-in-out;
}

.small {
	max-height: 115px;
	transition:
		max-height 0.4s ease-in-out,
		opacity 0.4s ease-in-out;
}

.navlist {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 2em 1em;
}

.nav-item {
	border-left: 2px solid rgba(255, 255, 255, 0.438);
}

nav a {
	color: black;
	font-size: 1.2em;
	display: block;
	height: 100%;
	padding: 0.5em 0em;
}

.nav-item a {
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	text-indent: 2em;
	letter-spacing: 2.2px;
}

.navitem-link:active {
	background-color: #90e2cf82;
}

.nav-item a:hover {
	background-color: #fcfdfcd6;
	text-indent: 1em;
	transition: text-indent 0.3s ease-in-out;
	padding-right: 1em;
}

.logout-col {
	display: flex;
	justify-content: flex-end;
	padding-right: 1em;
}

.logout-img-container {
	width: 35px;
	height: 35px;
	border: none;
}

.nav-logout-item {
	width: 100%;
}

.logout-btn {
	width: 65px;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
	transform: scale(1.1);
	text-decoration: underline;
}

.logout-txt {
	margin: 0;
	font-size: 13px;
	letter-spacing: 1.2px;
}
