.complete-user-detailform {
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 550px;
	height: 100%;
	padding: 2em 0em;
	background-color: #ffffff6b;
	border-radius: 10px;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
}

.complete-user-detailform-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar-img-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1em auto;
}

.avatar-img-container {
	width: 60px;
	height: 75px;
	margin: 0 0.5em;
	padding: 20px 10px;
	background-color: #e9eaf1;
	border: 1px solid #e9eaf1;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.avatar-img-container.selected {
	border: 1.2px solid #347a36;
	background-color: #e7f7ee;
}

.user-detail-col {
	width: 100%;
	margin: 0.5em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.user-detail-fields {
	width: 100%;
}

.complete-user-input {
	padding: 10px 0;
	padding-left: 5px;
	width: 100%;
}

.complete-user-btn {
	width: 50%;
	margin: 1.5em auto;
	background: linear-gradient(#bae7a9, #178194);
	border: 2px solid #e9eaf1;
	color: #e9eaf1;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.2px;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.complete-user-btn:hover {
	background: linear-gradient(#a4c498, #0f5b69);
	transform: scale(1.05);
}

.error-message {
	color: red;
	margin: 5px 0;
}
.input-invalid input {
	border: 1px solid red;
}

.avatar-invalid {
	border: 1px solid red;
}
