.dashboard-wrapper {
	width: 90%;
	margin: 0 auto;
}

.content-container_dashboard {
	margin: 0 auto;
	text-align: center;
}

.user-content_dashboard {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.avatar-wrapper_dashboard {
	background-color: #ffffffba;
	border-radius: 100%;
	border: 1px solid #000200;
	width: 35%;
}

.dashboard-name-dropdown {
	width: 100%;
	transition: all 0.5s ease-in-out;
}

.dashboard-name-dropdown.dropdown-open {
	transition: all 0.5s ease-in-out;
}

.dashboard-name {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin: 0em auto 0.5em;
	padding: 0;
}

.dashboard-img {
	width: inherit;
}

.overviews {
	display: flex;
	margin: 1.5em auto;
	height: 25vh;
	flex-direction: column;
	justify-content: space-around;
}

.overview-title {
	background: #ffffffba;
	border-radius: 10px;
	letter-spacing: 1.3px;
	padding: 0.5em 0.3em;
	text-align: left;
	width: 60vw;
	max-width: 265px;
	margin: 0.7em auto;
	box-shadow: 3px 3px 1px 0px #839c95;
}

.overview-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}

.overview-btn-img-container {
	width: 70%;
}

.overview-btn p {
	margin: 0;
	padding: 0;
}

.overview-btn {
	display: flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border-radius: 10px;
	padding: 5px;
	box-shadow: var(--yellow-shadow);
	transition: all 0.3s ease-in-out;
}

.household-overview-btn {
	width: 110px;
	height: 110px;
}

.overview-btn:hover {
	transform: scale(1.05);
}

@media screen and (max-width: 455px) {
	.dashboard-content {
		width: 80vw;
	}

	.overview-title {
		width: 65vw;
	}

	.household-overview-btn {
		width: auto;
		height: auto;
	}
}

@media screen and (min-width: 580px) {
	.dashboard-wrapper {
		width: unset;
	}
	.dashboard-content {
		width: 80vw;
		max-width: 830px;
	}

	.dashboard-user-elements {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	.dashboard-img-container {
		margin: unset;
		padding: 1em 0em;
	}

	.dashboard-name-dropdown {
		width: 40%;
		min-height: 25vh;
	}

	.overviews {
		width: 75%;
		max-width: 550px;
		margin: 3em auto;
	}

	.overview-title {
		width: 100%;
		font-size: 30px;
		max-width: unset;
		margin: 1em auto;
	}

	.overview-btn-container {
		max-width: unset;
		justify-content: space-around;
	}

	.household-overview-btn {
		width: 115px;
		height: 110px;
	}
}
