@keyframes slideInFromTop {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

#homePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
}

.frontpage-image-wrapper {
	height: 25%;
	width: auto;
}

.frontpage-image-wrapper img {
	height: 100%;
}

.btns-about_frontpage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 40%;
	width: 80%;
}

.about-wrapper_frontpage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 40%;
	opacity: 0;
	animation: slideInFromLeft 1.2s ease-out forwards;
}

.header_frontpage {
	margin: 0 auto;
}

.about-text_frontpage {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-size: 17px;
}

.frontpage-btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30%;
	width: 100%;
	
}

.homepage-btns {
	display: block;
	width: 30%;
	padding: 15px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	letter-spacing: 1.1px;
	text-align: center;
	box-shadow: var(--btn-shadow);
	cursor: pointer;
}

.homepage-btns:hover {
	transform: scale(1.1);
}

.register-btn-homepage {
	background: var(--btn-blue-gradient);
	touch-action: manipulation;
	transition: all 0.3s ease-in-out;
}

.register-btn-homepage:hover {
	background: linear-gradient(#7eacaf, #1b5072);
	transition: all 0.3s ease-in-out;
}

.login-btn-homepage {
	background: var(--btn-green-gradient);
	transition: all 0.3s ease-in-out;
}

.login-btn-homepage:hover {
	background: linear-gradient(#a4c498, #0f5b69);
}

.home-dashboard {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30%;
	width: 100%;
}

.home-dashboard a {
	display: block;
	font-weight: bold;
	background: var(--btn-blue-gradient);
	padding: 15px;
	letter-spacing: 1.1px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: var(--btn-shadow);
}

.dashboard-btn:hover {
	background: #e6e6e6;
}

@media screen and (max-width: 390px) {
	.about-wrapper_frontpage {
		justify-content: space-around;
		height: 55%;
	}

	.about_frontpage {
		height: 55%;
	}

	.btns-about_frontpage {
		justify-content: space-evenly;
		height: 45%;
	}
}

@media screen and (min-width: 635px) {
	#homePage {
		padding: 0;
		width: 90vw;
		height: 100%;
	}

	.content-container {
		max-width: 1000px;
		flex-direction: row;
		justify-content: space-between;
		height: 65%;
		width: 100%;
	}

	.frontpage-image-wrapper {
		display: flex;
		align-items: center;
		margin-right: 1.5em;
		width: 55%;
		height: 100%;
	}

	.frontpage-image-wrapper img {
		height: auto;
		width: 100%;
	}

	.btns-about_frontpage {
		height: 80%;
		width: 40%;
		justify-content: space-around;
		padding: 0 1em;
	}

	.about-wrapper_frontpage {
		margin: 0;
		text-align: left;
		width: 100%;
		height: 45%;
		animation: slideInFromTop 1.2s ease-out forwards;
	}

	.header_frontpage {
		margin: 0;
		font-size: 24px;
	}

	.about-text_frontpage {
		margin: 0;
		padding: 0;
		font-size: 17.5px;
	}

	.frontpage-btn-wrapper {
		justify-content: space-between;
	}

	.homepage-btns {
		margin: 0 0.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		width: 100px;
		height: 35px;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
	}

	.home-dashboard {
		display: flex;
		justify-content: flex-start;
		height: 20%;
	}

	.home-dashboard a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
	}
}

@media screen and (min-width: 930px) {
	.frontpage-image-wrapper {
		max-width: 500px;
		margin-right: 2.5em;
	}

	.btns-about_frontpage {
		justify-content: space-evenly;
		height: 95%;
		width: 45%;
		max-width: 400px;
		padding: 0;
	}

	.btns-about_frontpage h1 {
		font-size: 30px;
	}

	.about-text_frontpage {
		font-size: 22px;
	}

	.frontpage-btn-wrapper {
		justify-content: space-between;
	}

	.homepage-btns {
		margin: 0 0.5em;
		width: 38%;
		font-size: 19px;
	}

	.home-dashboard a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45%;
	}
}
