.frontpage-image-wrapper {
	width: 35vw;
	margin: 3em auto;
}
/*@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.frontpage-image-wrapper img {
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;
}*/

.frontpage-image-wrapper img {
	object-fit: cover;
	height: 100%;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.frontpage-about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 16vh;
	margin: 2em auto;
	line-height: 1.6;
	font-size: 16px;
	opacity: 0;
	animation: slideInFromLeft 1.2s ease-out forwards;
}

.frontpage-about p {
	margin: 0;
	padding: 0;
}

.frontpage-btn-wrapper {
	width: 80vw;
	margin: 1em auto 3em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 20vh;
}

/*.homepage-btns {
	display: block;
	width: 30%;
	text-align: center;
	box-shadow: 3px 2px 0px 0px rgb(85 102 76);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}*/

.homepage-btns {
	display: block;
	width: 25%;
	font-size: 16px;
	text-align: center;
	box-shadow: 3px 4px #467490;
	padding: 15px 10px;
	cursor: pointer;
}

.homepage-btns:hover {
	transform: scale(1.1);
}

/*.register-btn-homepage {
	background: var(--btn-green);
	border: 1.5px solid white;
	transition: all 0.3s ease-in-out;
}*/

.register-btn-homepage {
	background: linear-gradient(#9debf0, #2877ab);
	border: 1.5px solid #e9eaf1;
	color: #fff;
	touch-action: manipulation;
	transition: all 0.3s ease-in-out;
}

.register-btn-homepage:hover {
	background: linear-gradient(#7eacaf, #1b5072);
	transition: all 0.3s ease-in-out;
}

.login-btn-homepage {
	background: linear-gradient(#bae7a9, #178194);
	border: 1.5px solid #e9eaf1;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.login-btn-homepage:hover {
	background: linear-gradient(#a4c498, #0f5b69);
}

.home-dashboard {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em auto 5em;
	width: 30vw;
	height: 15vh;
}

.home-dashboard a {
	display: block;
	padding: 15px 20px;
	text-align: center;
}

.dashboard-btn {
	background: white;
	border: 1px solid black;
	cursor: pointer;
	box-shadow: 3px 2px 0px 0px rgb(85 102 76);
}

.dashboard-btn:hover {
	background: #e6e6e6;
}

@media screen and (min-width: 600px) {
	.static-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.frontpage-image-wrapper {
		width: 20vw;
	}
	.frontpage-btn-wrapper {
		width: 50vw;
		margin: 2em auto;
		justify-content: space-around;
	}
	.frontpage-about {
		margin: 2em auto;
		width: 35vw;
		height: 18vh;
		font-size: 14px;
		justify-content: space-between;
	}

	.frontpage-about p {
		margin: 0;
		padding: 0;
	}

	.homepage-btns {
		width: 30%;
		font-size: 14px;
		cursor: pointer;
	}

	.home-dashboard {
		margin: 1em auto 8em;
	}

	.home-dashboard a {
		padding: 15px 30px;
	}
}

@media screen and (min-width: 900px) {
	.frontpage-image-wrapper {
		width: 20vw;
	}

	.frontpage-about {
		width: 30vw;
		height: 25vh;
		font-size: 17px;
	}

	.frontpage-btn-wrapper {
		width: 40vw;
		margin: 0 auto 4em;
	}

	.homepage-btns {
		width: 28%;
		font-size: 16px;
	}

	.home-dashboard {
		margin: 1em auto 8em;
	}

	.home-dashboard a {
		padding: 15px 30px;
	}
}
