.content-container_user-overview {
    width: 80%;
    margin: 0 auto;
}

#UserOverview {
    margin: 3em auto;
    max-width: 900px;
}

.no-data-wrapper {
    background-color: var(--grey-frame);
    padding: 2em 1em;
    border-radius: 24px;
    box-shadow: var(--blue-shadow);
    max-width: 380px;
    margin: 4em auto;
}

.no-data-message {
    margin: 1em auto;
}

/* Header Styles */
.header_user-overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* User Overview Styles */
.data-presentation_user-overview {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.interaction_user-overview .total-cost-container,
#UserOverview .datefilter-wrapper,
.piechart-container,
#UserOverview .barchart-container {
    box-shadow: 0px 12px 16px 0px #536a574d;
}

.piechart-section_user-overview,
.interaction_user-overview,
.barchart-section_user-overview {
    width: 100%;
    margin: 0 auto;
}

.interaction_user-overview {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto 2.5em;
}

/* TotalCostSection */
.monetary-section_user-overview .content_total-cost {
    margin: 1em 0;
}

.monetary-section_user-overview .total-cost-header {
    font-size: 20px;
}

.monetary-section_user-overview .total-cost-value,
.monetary-section_user-overview .total-time-value {
    width: 65%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    border: 0;
    border-radius: 12px;
}

.monetary-section_user-overview .total-cost-value {
    background: var(--bg-purple-gradient);
    box-shadow: inset 5px 6px 12px 1px #85688ad2;
}

.monetary-section_user-overview .time-wrapper {
    margin: 1.5em 0;
}

.monetary-section_user-overview .total-time-value {
    background: white;
    box-shadow: inset 7px 7px 13px 0px #a999ac;
    margin: 0 auto;
    padding: 0.5em 1em;
    font-weight: bold;
}

/* Piechart */
.piechart-section_user-overview .piechart-container {
    background-color: var(--grey-frame);
    padding: 1em 0;
    border-radius: 24px;
    min-height: 320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.piechart-section_user-overview .piechart-container-content {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Barchart */
.barchart-section_user-overview {
    margin: 2em auto;
}

.barchart-container {
    width: 100%;
    height: 30vh;
    max-height: 500px;
    padding: 0;
    min-height: 320px;
    padding: 1.5em 0;
}

.barchart-content {
    height: 100%;
    width: 100%;
}

.user-overview-title {
    font-size: 33px;
    text-align: center;
}

@media (min-width: 745px) {
    #UserOverview {
        margin: 3em auto;
        width: 100%;
    }

    .no-data-wrapper {
        background-color: var(--grey-frame);
        padding: 1em 1em 2em;
        border-radius: 0px 0px 20px 20px;
        box-shadow: var(--blue-shadow);
        max-width: 380px;
        margin: 0 auto;
    }

    .no-data-message {
        margin: 1em auto;
    }

    /* Header Styles */
    .header_user-overview {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* User Overview Styles */
    .data-presentation_user-overview {
        flex-direction: row;
        justify-content: space-between;
    }

    .piechart-section_user-overview {
        width: 55%;
    }

    .monetary-section_user-overview {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .interaction_user-overview {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 40%;
        height: 100%;
    }

    .barchart-section_user-overview {
        margin: 1em;
        width: 55%;
    }

    .piechart-section_user-overview,
    .interaction_user-overview,
    .barchart-section_user-overview {
        margin: 1.5em 0;
    }

    .user-overview-title {
        font-size: 33px;
        text-align: center;
    }
}
