.no-data-wrapper {
	background-color: var(--grey-frame);
	padding: 1em 1em 2em;
	border-radius: 0px 0px 20px 20px;
	box-shadow: var(--blue-shadow);
	max-width: 380px;
	margin: 0 auto;
}

.no-data-message {
	margin: 1em auto;
}

.user-overview-title {
	font-size: 33px;
	text-align: center;
}

@media (min-width: 410px) {
	.user-overview-title {
		font-size: 30px;
		margin: 2em auto 0.5em;
	}

	.useroverview-content {
		height: 100%;
		margin: 5em auto;
	}
}
