.piechart-container {
	margin: 0 auto;
	background-color: var(--grey-frame);
	padding: 3em 1em 1.5em;
	border-radius: 20px;
	box-shadow: var(--blue-shadow);
	max-width: 380px;
}

.user-overview-title {
	font-size: 33px;
	text-align: center;
	margin: 2em auto;
}

@media (min-width: 410px) {
	.user-overview-title {
		font-size: 30px;
		margin: 1em auto;
	}
}
