button {
	font-family: "DM Serif Display";
	background: none;
	border: none;
	width: 100%;
}

.chore-wrapper {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.chore-wrapper.open {
	opacity: 1;
	max-height: 255px;
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.chore-dropdown-container {
	background: white;
	max-width: 245px;
	margin: auto;
	padding: 1em;
	border-radius: 10px;
	box-shadow: var(--yellow-shadow);
}

.dropdown-menu-btn {
	font-size: 16px;
}

.chore-dropdown-content {
	height: 100%;
}

.chore-dropdown-menu {
	width: 95%;
	margin: 1em auto;
	padding: 0;
}

.dropdownli-icon-container {
	width: 15px;
	height: 15px;
}
.dropdownli-icon-container:hover {
	transform: scale(1.1);
}

.dropdown-li {
	display: flex;
	width: 100%;
	height: 3em;
	font-size: 14px;
	padding: 0.7em 0.2em;
	font-family: "DM Sans", sans-serif;
	text-align: left;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	align-items: center;
	justify-content: space-between;
}

.dropdown-li:hover {
	background: #f2f2f2;
	font-weight: bold;
}

.session-category {
	margin: 0.5em 0 0.5em 0;
	font-size: 14px;
	text-align: center;
	text-decoration: underline;
}

.session-content {
	margin: 2em auto;
}

.session-control {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.session-explain {
	margin: 0.5em;
	text-align: center;
	font-size: 14px;
	cursor: default;
}

.session-no {
	width: 30%;
	padding: 0.5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border: 1px dotted black;
	border-radius: 10px;
	cursor: default;
}

.sessioncount-btn {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.sessioncount-btn:hover {
	transform: scale(1.1);
}

.sessioncount-img-wrapper {
	width: 25px;
}

.done-btn {
	display: flex;
	flex-direction: row;
	width: 60%;
	align-items: center;
	margin: auto;
	justify-content: space-around;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 1px 0px rgb(0 0 0 / 35%);
	transition: all 0.3s ease-in-out;
}

.done-btn:hover {
	transform: scale(1.1);
	border-color: green;
}

.donebtn-img-wrapper {
	width: 20px;
}

.back-btn {
	display: flex;
	flex-direction: row;
	width: 45%;
	align-items: center;
	margin: auto;
	transition: all 0.3s ease-in-out;
}

.back-btn:hover {
	transform: scale(1.1);
}

.backbtn-img-wrapper {
	width: 25px;
	height: 25px;
}
