.signup-form {
	margin: 10vh auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 400px;
	min-width: 255px;
	height: 100%;
	padding: 2em 0em;
	background-color: #ffffff6b;
	border-radius: 10px;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
}

.signup-form-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 100%;
}

.signupform-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 95%;
	margin-bottom: 1em;
}

.signup-inputfield {
	width: 100%;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 10px 0px;
	padding-left: 5px;
	border: none;
	margin: 0.5em 0em;
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
}

.signup-btn {
	width: 50%;
	margin: 1.5em 0em;
	border: 1.5px solid white;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.1px;
	background-color: var(--btn-green);
	box-shadow: 3px 5px 0px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.signup-btn:hover {
	background-color: var(--btn-green-hover);
	transform: scale(1.05);
}
