#registerPage {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.signupform-container {
	width: 95%;
	margin: 3em auto;
}

.signupform {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-radius: 24px;
	padding: 2em 0em;
	background: #f9f4f44d;
	box-shadow: inset 0px 20px 10px 0px #f9f4f4;
}

.header_signup,
.avatar-header_signup {
	width: 70%;
	text-align: left;
}

.content-wrapper_signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.infofields-wrapper_signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 90%;
	height: 100%;
}

.input-wrapper_auth,
.personalia-wrapper_signup {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.personalia-wrapper_signup {
	margin: 2em 0 1em;
}

.inputfield-wrapper_signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 85%;
}

.email-wrapper,
.passwd-wrapper_signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.signupform-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 95%;
	margin-bottom: 1em;
}

.signupform-col label {
	width: 90%;
	margin: 0 auto;
}

.signup-inputfield {
	width: 90%;
	border-radius: 20px;
	padding: 15px 10px;
	border: none;
	margin: 0.5em 0em;
	box-shadow: inset 2px 2px 0px 0 rgba(0, 0, 0, 0.2);
}

.avatar-wrapper_signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto 2em;
	width: 100%;
	height: 100%;
}

.avatar-select-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
	flex-wrap: wrap;
	justify-content: center;
}

.avatar-img-container {
	width: 20%;
	height: 100%;
	margin: 1em 0.5em;
	padding: 20px 10px;
	background-color: #ffffff;
	border: 1px solid #e9eaf1;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.avatar-img-container.selected {
	border: 1.2px solid #347a36;
	background-color: #e7f7ee;
}

.btn-wrapper_signup {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 20%;
}

.btn-wrapper_signup {
	margin: 1.5em 0;
}

.signup-btn {
	width: 60%;
	border-radius: 30px;
	font-size: 16px;
	height: 3em;
	background: var(--btn-green-gradient);
	box-shadow: var(--btn-shadow);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.signup-btn:hover {
	background-color: var(--btn-green-hover);
	transform: scale(1.05);
}

@media screen and (min-width: 635px) {
	.signupform-container {
		width: 100%;
	}

	.signupform {
		margin: 0 auto;
		padding: 2em 0em;
		max-width: 740px;
	}

	.header_signup,
	.avatar-header_signup {
		width: 80%;
	}

	.content-wrapper_signup {
		flex-direction: column;
		justify-content: space-around;
		min-height: 500px;
	}

	.signupform-col {
		align-items: center;
	}

	.infofields-wrapper_signup {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
		height: 100%;
	}

	.input-wrapper_auth,
	.personalia-wrapper_signup {
		width: 40%;
		height: 100%;
	}

	.personalia-wrapper_signup {
		display: flex;
		margin: 0;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.signup-inputfield {
		border-radius: 12px;
		padding: 10px;
		border: none;
	}

	.avatar-wrapper_signup {
		display: flex;
		margin: 0 auto 2em;
		align-items: center;
		height: 100%;
		justify-content: center;
	}

	.avatar-select-wrapper {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.avatar-img-wrapper img {
		background-color: white;
	}
}

@media screen and (min-width: 635px) {
}
