#registerPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.signupform-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #f9f4f41e;
	width: 90%;
}

.signupform {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 70vh;
	min-height: 100%;
	max-height: 490px;
	min-width: 255px;
	padding: 1em 0em;
	border-radius: 10px;
	background: #f9f4f44d;
	border: 2px solid #f9f4f44d;
	box-shadow: inset 0px 15px 10px 0px #f9f4f4;
}

.header_signup {
	width: 70%;
	text-align: left;
}

.content-wrapper_signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	height: 100%;
}

.inputfield-wrapper_signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 85%;
}

.email-wrapper,
.passwd-wrapper_signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.signupform-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 95%;
	margin-bottom: 1em;
}

.signupform-col label {
	width: 90%;
	margin: 0 auto;
}

.signup-inputfield {
	width: 90%;
	border-radius: 20px;
	padding: 15px 10px;
	border: none;
	margin: 0.5em 0em;
	box-shadow: inset 2px 2px 0px 0 rgba(0, 0, 0, 0.2);
}

.btn-wrapper_signup {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 20%;
}

.signup-btn {
	width: 60%;
	border-radius: 30px;
	font-size: 16px;
	height: 3em;
	background: var(--btn-green-gradient);
	box-shadow: var(--btn-shadow);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.signup-btn:hover {
	background-color: var(--btn-green-hover);
	transform: scale(1.05);
}

@media screen and (min-width: 635px) {
	.signupform-container {
		max-width: 450px;
	}

	.signupform {
		max-width: 450px;
	}

	.inputfield-wrapper_signup {
		width: 90%;
	}

	.signup-btn {
		width: 50%;
	}
}
