@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=DM+Serif+Display&display=swap");

:root {
	--bg-green: #83a775;
}

* {
	text-decoration: none;
	list-style-type: none;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: var(--bg-green);
}

main {
	margin: 5vh auto;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-family: "DM Serif Display";
}

h2 {
	font-family: "DM Serif Display";
}

h3 {
	font-family: "DM Serif Display";
}

a {
	color: black;
	font-family: "DM Sans";
	font-weight: 400;
	text-decoration: none;
}

p {
	font-family: "DM Sans";
	font-weight: 300;
}

label {
	font-family: "DM Sans";
	font-weight: 400;
}

.page-container {
	width: 85vw;
	min-height: 85vh;
	margin: 0 auto;
}

.no-scroll {
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.btn-rounded {
	border-radius: 30px;
	border: 1px solid black;
	padding: 1em 2em;
}

.btn-squared {
	font-family: "DM Serif Display";
	border-radius: 10px;
	padding: 10px 5px;
}
