@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");

:root {
	/*BACKGROUNDS*/
	--bg-green: rgb(167, 192, 158);
	--bg-blue: #8ca7cf;
	--bg-green-gradient: linear-gradient(180deg, rgba(223, 241, 203, 1) 20%, rgba(197, 239, 230, 1) 80%);
	--light-purple-gradient: linear-gradient(90deg, rgba(191, 222, 246, 1) 20%, rgba(216, 202, 222, 1) 80%);
	--bg-purple-gradient: linear-gradient(80deg, rgba(191, 223, 247, 1) 20%, rgba(218, 201, 221, 1) 80%);
	--soft-background: #f9f4f44d;
	--grey-frame: rgba(255, 255, 255, 0.599);
	/*NAVBAR*/
	--navbar-green-gradient: linear-gradient(180deg, rgb(255 255 255) 10%, rgba(191, 236, 226, 1) 40%);
	/*BTNS*/
	--btn-green-gradient: linear-gradient(30deg, rgba(193, 227, 151, 1) 15%, rgba(179, 241, 229, 1) 75%);
	--btn-green: #c6f6b3;
	--btn-green-dark: #486b3a;
	--btn-green-hover: #738e68;
	--btn-green-dark-hover: #34452d;
	--btn-teal: #78a7a1;
	--btn-teal-hover: #5f8b89;
	--btn-blue-gradient: linear-gradient(30deg, rgba(191, 223, 247, 1) 15%, rgba(218, 201, 221, 1) 75%);
	--btn-red-gradient: linear-gradient(40deg, rgb(249 168 72 / 85%) 15%, rgb(255 73 0 / 80%) 75%);
	/*SHADOWS*/
	--blue-shadow: 3px 4px 1px 0px #5b6b82da;
	--bg-green-shadow: 0px 16px 12px 0px #688c84;
	--btn-shadow: 0px 16px 12px 0px #767b79;

	/*BORDERS*/
	--bg-green-border: 1.5px solid #93b0aa;
	/*TRANSITIONS & ANIMATIONS*/
	--smooth-transition: all 0.3s ease-in-out;
}

* {
	text-decoration: none;
	list-style-type: none;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	overflow-x: hidden;
}

main {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
}

.frontpage {
	background: rgb(246, 250, 249);
	background: var(--bg-blue);
}

.frontpage main {
	background-image: url("/src/assets/img/bgr-widgets.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 195% 45%;
}

.greenpage {
	background: rgb(246, 250, 249);
	background: var(--bg-green-gradient);
}

.greenpage main {
	background-image: url(/src/assets/img/bgr-widgets.png);
	background-position: bottom;
	background-repeat: repeat-x;
}

.bluepage {
	background: rgb(199, 217, 244);
	background: linear-gradient(180deg, rgba(199, 217, 244, 1) 10%, rgb(37 128 213) 75%);
}

.bluepage main {
	background-image: url("/src/assets/img/dashboard-widgets.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: inherit;
}

.purplepage,
.purplepage-register {
	background: rgb(191, 223, 247);
	background: var(--bg-purple-gradient);
}

.purplepage-register main {
	background-image: url("/src/assets/img/bgr-widgets.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 900px 415px;
}

.purplepage main {
	height: 80vh;
	min-height: 100%;
	background-image: url("/src/assets/img/bgr-widgets.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 900px 415px;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-family: "Montserrat";
	font-weight: 700;
}

h2 {
	font-family: "Montserrat";
	font-weight: 600;
}

h3 {
	font-family: "Montserrat";
	font-weight: 400;
}

a {
	color: black;
	font-family: "montserrat", sans-serif;
	font-weight: 600;
	text-decoration: none;
}

p {
	font-family: "DM Sans";
	font-weight: 300;
}

label {
	font-family: "DM Sans";
	font-weight: 400;
}

button {
	font-family: "Montserrat";
	font-weight: 600;
	cursor: pointer;
}

.no-scroll {
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.btn {
	font-family: "Montserrat";
	font-weight: 600;
}

.btn-rounded {
	border-radius: 30px;
	padding: 1em 2em;
}

.btn-squared {
	font-family: "Montserrat";
	font-weight: 600;
	border-radius: 10px;
}

@media (min-width: 650px) {
	.frontpage main {
		background-size: 950px 470px;
		background-repeat: repeat-x;
	}

	.greenpage {
		background: rgb(246, 250, 249);
		background: var(--bg-green-gradient);
	}

	.greenpage main {
		background-size: contain;
	}
}
